extends default

block content
    div(class="flex w-full min-h-[60vh] flex-col items-center justify-center px-6")
        div(class="sm:mx-auto sm:w-full sm:max-w-sm")
            h2(class="mt-6 capitalize text-center text-xl/9 font-bold tracking-tight text-gray-300") Check your email for instructions on resetting your password
            //- p(class="block text-sm/6 font-medium text-gray-400") The email is only valid for 15 minutes. Thank you!
            
        div(class="mt-10 text-center sm:mx-auto sm:w-full sm:max-w-sm")
            p(class="block text-sm/6 font-medium text-gray-400") The email is only valid for 15 minutes. Thank you!
